:root {
    --primary-color: #CC2732;
    --secondary-color: #CC6E27;
    --tertiary-color: #ccc127;
    --mdc-theme-primary: green;


}
header {
    position: fixed;
    top: 0px;
    background-color: var(--primary-color);
    width:100vw;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: center;

    

}
nav {
    display: flex;
}

main {
    padding-top: 100px;
    padding-bottom: 80px;

}

li {
    display: inline;
    margin: 50px;
}

footer {
    position: fixed;
    bottom:0px;
    height: 80px;
    background-color: var(--primary-color);
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

#copyright {
    position: absoulute;
    bottom: 35px;
    right: 35px;
    font-size: 10px;
    margin: 20px;
}
.mobileFeature{
    display: none;
    margin: 20px;
}
a {
    font-size: 30px;

}
a:link {
    color: var(--secondary-color);
    text-decoration: none;
    position: relative;

}

a:visited {
    color: var(--tertiary-color);
}

a:hover, a:focus {
    text-decoration: underline;
}

a:active {
    font-size: 32px;
}
@media (max-width:500px) {
    li {
        display: inline;
        margin: 20px;
        
    }
 
    .mobileFeature {
        display: flex;
    }
}
h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
}
h1 {
    font-size: 40px;
    margin: 20px;
}
p {
    font-family: 'Lato', sans-serif;
}

